h4 {
    text-align: left;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #ededed;
    text-shadow: 1px 1px 0px rgb(70,70,70), 4px 4px 0px rgba(0,0,0,0.3);
    font-size: 3.0em;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
}

#header{
    width: 100%;
    height: 80px;
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0px 15px;
}

.button-holder{
    display: inline-block;
    height: 100%;
    width: 155px;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 50px;
    box-sizing: border-box;
    padding-top: 20px;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(20,20,20,0.75);
}


.shownlightbox{
    display: block;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: rgba(20,20,20,0.75);
    outline: none;
}

div.newJournal{
    height: 380px;
    width: 500px;
    background-color: white;
    margin:auto;
    margin-top:120px;
    border-radius: 5px;
    padding:20px;
    color: #888;
}

#dropdown{
    z-index: 10;
    width: 90px;
    height: 50px;
    position: absolute;
    top: 50;
    right: 5px;
}

#dropdown button{
    display: block;
}

.dropdownhide{
    display: none;
}

.icon-btn{
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    margin-left: 5px;
}

.icon-btn:hover{
    color: white;
}

.add-btn:hover{
    color: black !important;
    cursor: default !important;
}

.material-icons{
    font-size: 40px;
}

.drop-btn{
    width: 100%;
    border-radius: 1px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    margin-left: 55px;
  }

.seticon{
    font-size: 36px !important;
}

.settings-container{
    margin-top: 80px;
    border: 3px solid black;
    width: 100%;
    height: 100%;
}